@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for audio player timeline, if needed */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4ade80; /* Tailwind green-400 */
  border-radius: 10px;
}

